.adding-form, .box-description-section, .box-edit-section, .chat-people-view-section, .chatting-window-section, .setting-section, .profile-editing-section{
    position: absolute;
    transition: 0.5s;
    width: 100%;
    height: 100%;
    padding: 10px;
    justify-content: space-between;
    transform: translateX(100%);
    max-width: 465px;
    right: 0;
    width: 100%;
    z-index: 45;
}
.common-input-wrapper, .common-desc-wrapper, .common-edit-wrapper{
    width: 100%;
    padding: 10px;
    justify-content: space-between;
    align-items: flex-start;
}
.common-input{
    border: none;
    outline: none;
    font-size: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 10px;
}
.adding-name-input, .box-desc-name{
    width: 100%;
}
#adding-desc-input-id, .desc-description-value, #edit-desc-input-id{
    height: 200px;
    overflow: scroll;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#adding-desc-input-id::-webkit-scrollbar, #edit-desc-input-id::-webkit-scrollbar{
    display: none;
}
.people-adding-wrapper, .project-choosing-wrapper{
    position: relative;
}
.people-options-wrapper, .box-desc-people-options-wrapper, .people-edit-options-wrapper{
    position: absolute;
    top: 100%;
    right: 0;
    height: 0;
    overflow: hidden;
    border-radius: 10px;
    padding: 0px;
    transition: 0.5s;
    background-color: rgb(235, 237, 239);
    z-index: 15;    
}
.search-people-wrapper, .desc-search-people-wrapper, .edit-search-people-wrapper{
    padding: 0;
}
.people-search-image, .desc-people-search-image{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-image: url(/ProApp/assets/images/user.png);
    background-size: cover;
}
#people-adding-input, #people-show-input, #people-edit-input{
    display: none;
}
#people-adding-input:checked + .people-options-wrapper{
    height: 200px;
    overflow: scroll;
}
#people-show-input:checked + .box-desc-people-options-wrapper{
    height: 200px;
    overflow: scroll;
}
#people-edit-input:checked + .people-edit-options-wrapper{
    height: 200px;
    overflow: scroll;
}
.people-options-wrapper::-webkit-scrollbar, .box-desc-people-options-wrapper::-webkit-scrollbar, .edit-search-people-wrapper::-webkit-scrollbar, .people-edit-options-wrapper::-webkit-scrollbar{
    display: none;
}
.people-option, .desc-people-option{
    justify-content: space-between;
    width: 100%;
    padding: 10px 5px;
    border-radius: 10px;
}
.people-search-input, .people-edit-search-input{
    font-size: 20px;
    padding: 5px;
    outline: none;
    width: 150px;
    border-radius: 10px;
}
.people-option:hover {
    background-color: white;
}
.people-show-label{
    font-size: 20px;
}
#form-adding-section-close-button, #box-desc-section-close-button, #box-edit-section-close-button{
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
}
#form-adding-section-close-button:hover {
    background-color: rgb(235, 237, 239);
}
.selected-people-display, .selected-project-display{
    width: 100px;
    position: relative;
    height: 35px;
}
.selected-people-small-image{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-image: url(/ProApp/assets/images/user.png);
    background-size: cover;
    position: absolute;
}
.common-desc-wrapper-value{
    font-size: 20px;
    margin: 10px 0px;
}
.desc-description-value{
    width: 100%;
}
.desc-description-value::-webkit-scrollbar{
    display: none;
}
.box-desc-name-value{
    font-size: 25px;
}
#project-drop-down-id{
    font-size: 20px;
    outline: none;
    border-radius: 10px;
    border: none;
    background-color: rgb(52, 156, 254);
    color: white;
    padding: 8px 10px;
    max-width: 150px;
}
.project-choosing-wrapper{
    display: none;
}
.show-project-choosing-wrapper{
    display: flex;
}
@media screen and (max-height: 820px){
    #adding-desc-input-id, .desc-description-value, #edit-desc-input-id{
        height: 100px;
    }
}
@media screen and (max-height: 700px){
    #adding-desc-input-id, .desc-description-value, #edit-desc-input-id{
        height: 60px;
    }
}
.show-from-right-to-left{
    transform: translateX(0%);
}