.project-section{
    width: 98%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    overflow: scroll;
}
.project-section::-webkit-scrollbar {
    width: 0;
    display: none;
}
.common-button{
    padding: 8px 10px;
    background-color: rgb(63,142,238);
    color: white;
    border: none;
    border-radius: 10px;
    transition: 0.5s;
    font-size: 20px;
    cursor: pointer;
}
.common-button:active {
    transform: scale(0.9);
}
.common-middle-section-header{
    width: 100%;
    justify-content: space-between;
    padding: 10px 0px;
}
.common-middle-section-heading{
    font-size: 30px;
    flex-grow: 1;
}
#filter-input{
    display: none;
}
#filter-input:checked + .filter-options-wrapper{
    height: 135px;
}
.full-filter-wrapper{
    position: relative;
    padding: 15px 5px;
    display: none;
    cursor: pointer;
}
.filter-button{
    padding: 0px 10px;
    font-size: 20px;
    cursor: pointer;
}
.filter-options-wrapper{
    width: 120px;
    padding: 0px;
    position: absolute;
    right: 10px;
    top: 100%;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    border-radius: 10px;
    cursor: pointer;
    z-index: 30;
}
.filter-option{
    padding: 10px;
    list-style-type: none;
    transition: 0.5s;
    cursor: pointer;
}
.filter-option:hover {
    background-color: rgba(0, 0, 0, 0.2)
}

/* body section styling starts here */
.common-middle-section-body{
    height: 92%;
    width: 100%;
    border-radius: 15px;
    position: absolute;
    justify-content: space-between;
}   
.common-pro-and-task-section{
    width: 33%;
    padding-top: 10px;
    justify-content: space-between;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 15px;
}
.common-pro-and-task-heading{
    font-size: 30px;
    width: 80%;
    text-align: left;
}
.box-wrapper{
    width: 100%;
    height: 95%;
    overflow: scroll;
    justify-content: flex-start;
    margin-top: 30px;
}
.box-wrapper::-webkit-scrollbar{
    display: none;
}
.main-box{
    max-width: 350px;
    width: 100%;
    height: 230px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 2px 0px 20px 0px;
    flex-shrink: 0;
}
.project-deprecated-section{
    transition: 0.5s;
    transform: scale(0);
    z-index: 31;
}
.overdue-heading{
    height: 10%;
    width: 100%;
}
.deprecated-box-wrapper{
    height: 90%;
    width: 100%;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
}
.notifcations-list{
    overflow: scroll;
    border-radius: 10px;
}
.empty-notifcations-list{
    background-image: url(/ProApp/assets/images/empty_notification.jpg);
    background-size: cover;
    background-position: center;
}
.notifcations-list::-webkit-scrollbar {
    display: none;
}
.notification-image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url(/ProApp/assets/images/logo.png);
    background-size: cover;
    background-position: center;
}
.notification-list-option{
    width: 100%;
    justify-content: space-between;
    padding: 10px;
    align-items: flex-start;
    transition: 0.5s;
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.1); */
    /* border-image: linear-gradient(red, blue) 27 / 35px; */
    /* border-bottom: groove; */
}
.notification-list-option:hover {
    background-color: rgb(235, 237, 239);
}
.message-time-wrapper{
    width: 70%;
}
.notification-content {
    font-size: 14px;
}
.notification-time{
    margin: 10px 0px;
    font-size: 12px;
}
.notification-delete-icon{
    margin-top: 20px;
    cursor: pointer;
}
.empty-boxes, .empty-task-div {
    background-image: url(/ProApp/assets/images/empty_boxes.png);
    background-size: cover;
    background-position: center;
    width: 82%;
    height: 100%;
}
.empty-box-wrapper, .empty-task-div-wrapper{
    max-width: 358px;
    width: 100%;
    border-radius: 15px;
    height: 230px;
    /* background-color: white; */
}
.empty-message-box{
    font-size: 20px;
    padding: 10px;
}
/* body section styling ends here */

@media screen and (max-width:1240px) {
    .main-projects-and-tasks-section{
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .box-wrapper{
        height: 90%;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
        padding: 5px;
    }
    .full-filter-wrapper{
        display: block;
    }
    .main-box{
        margin: 10px 10px;
    }
    .in-progress-section, .completed-section, .yet-to-start-section{
        width: 100%;
        display: none;
    }
    .common-pro-and-task-heading{
        text-align: center;
        width: 100%;
    }
}
@media screen and (max-width: 500px){
    .main-box{
        margin: 10px 0px;
    }
}
@media screen and (max-height: 760px){
    .common-middle-section-body{
        height: 90%;
    }
}
.show-box-wrapper-section{
    display: flex;
}
.hide-filter{
    display: none;
}