.top-settings-header{
    width: 100%;
    height: 30%;
}
#settings-section-close-button, #profile-edit-section-close-button{
    top: 0;
    left: 0;
    position: absolute;
    padding: 10px;
    transition: 0.5s;
}
#settings-section-close-button:hover, #profile-edit-section-close-button:hover {
    background-color: rgb(235, 237, 239);
}
.profile-update-button{
    padding: 5px 10px;
    position: absolute;
    top: 0;
    right: 5px;
    background-color: rgb(68,146,240);
    color: white;
    font-size: 20px;
    border-radius: 10px;
    transition: 0.5s;
}
.profile-update-button:active {
    transform: scale(0.9);
}
.top-settings-photo, .profile-update-user-photo{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: rgb(235, 237, 239);
    background-size: cover;
    background-position: center;
}
.settings-body{
    width: 100%;
    height: 80%;
    justify-content: space-around;
}
.buttons-wrapper {
    width: 100%;
    justify-content: space-around;
    max-height: 450px;
    height: 35%;
}
.settings-button{
    justify-content: space-between;
    max-width: 260px;
    width: 95%;
    font-size: 20px;
}
.normal-setting-icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(235, 237, 239);
}
.normal-setting-click-button{
    background-color: rgb(235, 237, 239);
    width: 50px;
    height: 50px;
    border-radius: 15px;
}
.edit-profile-button-icon{
    background-color: rgb(254,238,254);
    color: rgb(243,117,247);
}
.log-out-button-icon {
    background-color: rgb(232,240,255);
    color: rgb(89,141,241);
}
.profile-editing-section{
    justify-content: flex-end;
}
.change-photo-button-icon{
    background-color: rgb(254,238,226);
    color: rgb(231,128,35);
}
.profile-edit-secton-body{
    width: 90%;
    height: 90%;
    margin: auto;
    align-items: flex-start;
}
.profile-editing-heading{
    font-size: 40px;
}
.profile-update-form{
    height: 90%;
    width: 100%;
    justify-content: space-around;
}
.profile-update-user-photo{
    width: 70px;
    height: 70px;
    background-image: url("/ProApp/assets/images/user.jpg");
    margin-bottom: 10px;
}
.common-input-field{
    width: 100%;
    justify-content: space-between;
    font-size: 20px;
}
#choose-profile-photo-input{
    display: none;
}
.common-input-tag{
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    width: 50%;
    max-width: 220px;
    font-size: 20px;
}